.container {
    margin-top: 50px
}

h3.h3 {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1.7em
}

.product-grid {
    font-family: 'Open Sans', sans-serif;
    position: relative
}

.product-grid .product-img {
    overflow: hidden;
    position: relative
}

.product-grid .product-img a {
    display: block
}

.product-grid .product-img img {
    width: 100%;
    height: auto
}

.product-img .pic-1 {
    opacity: 1;
    transition: all .5s
}

.product-grid .product-new-label {
    background-color: #3498db;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s
}

.product-grid:hover .product-new-label {
    opacity: 0
}

.product-grid .product-content {
    padding: 20px 10px;
    text-align: center
}

.product-grid .title {
    font-size: 17px;
    margin: 0 0 7px
}

.product-grid .title a {
    color: #303030
}

.product-grid .title a:hover {
    color: #3498db
}

.product-grid .price {
    color: #303030;
    font-size: 15px;
    margin-left:6px;
}

@media screen and (max-width:990px) {
    .product-grid {
        margin-bottom: 30px
    }
}